body{
    box-sizing: border-box;
    background-color:#458FAB;
}
#header{
    width:1600px;
    margin: 0 auto;
    background-image:url("../img/background/beijing.jpg");
    position: relative;
    background-repeat: no-repeat;
}
#header:after{content: "";
     display: block;
    clear: both;
}
#header>.hed{
    background-color: #FCFEFF;
    opacity:0.9;
}
#header>.hed>.hed1{
    background-color: #FCFEFF;
    opacity:0.9;
}
#header>.hed>.hed1>div:nth-child(2)>.tq{
    display: block;
}
#header>.hed>.hed1>div:nth-child(2)>a>ul>li:nth-child(2){
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
}
#header>.hed>.hed1>div:nth-child(2)>a>ul>li:nth-child(2)>div>img{
    position: absolute;
    top:-64px;
}
.zc{
    position: absolute;
    left:-25px;
}
/*标题的属性*/
#header>.hed>div:nth-child(2) a{
    font-size: 18px;
    color: #222222;
    position: relative;
    display: block;
}
#time{
    width: 150px;
}
.jt:hover{
    animation:dong 1s linear;
}
/*箭头的动画*/
@keyframes dong{
      0%{
          transform: rotate(0deg);
      }
    100%{
        transform: rotate(90deg);
    }
}
.jt{
    border:8px solid transparent;
    border-left-color:#C1C3C5 ;
    position: absolute;
    top:8px;
    left: 82px;
    transform-origin: 0 50%;
    transtion:all 100ms linear;
}
.img1{
    width: 260px;
    height: 130px;
}
.img2{
    width: 240px;
    height: 220px;
    position:relative;
}
.zt{
    font-size: 10px;
}
.myborder{
    border-radius:20px;
    background:#D5D5D5;
}
.myyc{
   display: none;
    font-size: 6px;
    position: absolute;
    border: 1px solid gray;
    width:50px;
    text-align: center;
    height: 20px;
    border-radius: 2px;
    background:#AEB192 ;
}
.myg:hover{
    background:#FCC50B;
}
#mei1{
    top: 170px;
    left:120px;
}
#mei2{
    top: 30px;
    left:65px;
}
#mei3{
    top: 180px;
    left:65px;
}
#mei4{
    top: 180px;
    left:50px;
}
#mei5{
    top: 140px;
    left:30px;
}
#mei6{
    top: 100px;

}
#mei7{
    top: 40px;
    left:150px;
}
#mei8{
    top: 80px;
    left:210px;
}
#mei9{
    top: 130px;
    left:180px;
}
#mei10{
    position: absolute;
    top: 190px;
    left:170px;
    background:#FCC50B ;
}

.dm{
    display:none;
}
.xs:target{
    display: block;
}
.Dzt{
    font-size: 2px;
    color: black;
}
.Dzt:hover{
    color:#6ECEF4 !important;
}
.dw{
    position: relative;
     display: none;
}
#dm{
    width: 950px;
    height: 325px;
    position: absolute;
    left: -130px;
    top: 40px;
   /* display: none;*/
}
.lianjie{
  /*为了实现悬停*/
}
.lianjie:hover .dw{
    display: block;

}
.wz1{
    position: relative;
	 display: none;
}
.wz{
    width: 1100px;
    height: 210px;
    position: absolute;
    left:-390px;
    top: 40px;
  
}
.lianjie1{
  /*为了实现悬停*/
}
.lianjie1:hover .wz1{
    display: block;
}
.wzt{
    font-size: 13px!important;
}
.zxyd{
     position: relative;
     display: none;
 }
.zxyd1{
    width: 820px;
    height: 160px;
    position: absolute;
    left:-390px;
    top: 40px;

}
.lianjie2{
    /*为了实现悬停*/
}
.lianjie2:hover .zxyd{
    display: block;
}

.dw1{
    position: relative;
}
.ly{
    position: relative;
    display: none;
}
.ly1{
    width: 950px;
    height: 160px;
    position: absolute;
    left:-560px;
    top: 40px;

}
.lianjie3{
    /*为了实现悬停*/
}
.lianjie3:hover .ly{
    display: block;
}

.hd{
    position: relative;
     display: none;
}
.hd1{
    width: 940px;
    height: 140px;
    position: absolute;
    left:-650px;
    top: 40px;

}
.lianjie4{
    /*为了实现悬停*/
}
.lianjie4:hover .hd{
    display: block;
}
.gl{
    position: relative;
    display: none;
}
.gl1{
    width: 580px;
    height: 160px;
    position: absolute;
    left:-600px;
    top: 40px;

}
.lianjie5{
    /*为了实现悬停*/
}
.lianjie5:hover .gl{
    display: block;
}

.wzt:hover{
    color: #007bff;
}

.yc1{
    display: none;

}
.yc{
    display: block;
}
.zj{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    margin-top:500px;
}

.gudi{
    position: fixed;
    top:25%;
    left:3%;
}

.gudi1{
    position: fixed;
    top:25%;
    right:2%;
    width: 80px;
    height: 400px;
}
.gudi2{
    position: absolute;
    top:63%;
    right:40%;
    width: 800px;
    height: 300px;
}
.mybj1{
    position: relative;
    background-image: url("../img/header/xj.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.bjs{
    background-position:20px -10px ;
    background-color: #0F885F;
}
.inputl{
    width: 320px;
}
.bjs1{
    background-position:20px 30% ;
    background-color:#66C57C;
}
.bjs2{
    background-position:20px 55% ;
    background-color: #0F885F;
}
.bjs3{
    background-position:20px 80% ;
    background-color:#66C57C;
}
.bjs4{
    background-position:20px 105% ;
    background-color: #0F885F;
}
.wzdw{
    position: absolute;
    top:50px;
    left: 10px;
}
.zj>.gudi2>ul>li{
    background-color: gainsboro;
    border-radius: 3px;
    padding: 10px;
    margin-right:10px ;
}

/*中间的轮播*/
.tupian{
    position: absolute;
    top:50px;
    left: 5px;
}
#yuandian{
    position: relative;
    top:95px;
    left: 85px;
    z-index:5;
}
.lix{
    z-index: 5;
    transition: all 0.5s linear;
}
#yuandian>ul>li{
    text-align: center;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-color: gray;
    color: white;
}
.back{
    background-color: #0069d9 !important;
}
.cart1{
    position: absolute;
    top:45px;
}
.xs1{
    display: block;
}
.ztdx{
    font-size: 30px;
    color:gray;
}
.wzdw1{
    position: absolute;
    top: 50px;
    left: 225px;
    width: 400px;
    height:150px;
    background-color: black;
    opacity: 0.7;
    color: white;
}
.wzt1{
    font-size: 10px;
    color:gray;
}
.wzdw1>ul>li:nth-child(2)>ul>li>a:hover{
    color:#65D277!important;
}
.mybark{
    background-color: black !important;
    opacity: 0.8;
    padding-left: 10px;
    width: 640px;
    height: 170px;
    position: relative;
    top:-20px;
}
.tuzw{
    position: absolute;
    top:130px;
}
.tubian{
    border: 2px solid white;
    display: block;
    width: 207px;
}

.myxs{
    display: block;
}
#ssdw{
    position: absolute;
    width: 350px;
    height: 200px;
    top: 63%;
    left:55%;
    background-color: black;
    opacity: 0.8;
}
#ssdw>ul>li>a{
    color: black;
}
#ssdw>ul>li{
    background-color: grey;
    margin-right: 2px;
}
#ssdw .backg{
    background-color:#65D277;
}
#ssdw .active{
    display: block  !important;
}
#ssdw .div3{
    position: absolute;
    width: 340px;
    height: 170px;
    top:28px;
    left: 5px;
    display: none;
}
.butl{
    padding:3px 15px;
    background-color:#EA7201 ;
    color: white;
}
#suo .colo{
    color: greenyellow!important;
}
#botton{
    margin: 0 auto;
    width:1600px;
    background-color: black;
    opacity: 0.8;
    position: relative;
}
#botton>div:nth-child(2){
    position: absolute;
    top:15px;
    left:43%;
}
.xlwb{
    position: absolute;
    left:75%;
    top:55px;
}
.txwb{
    position: absolute;
    left:90%;
    top:55px;
}
.ulcolor{
    font-size: 14px;
    color:#9B7547;
}
.ulcolor1{
    font-size: 12px;
   color: #888B8C;
}


